# Yarn v3+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Uncomment if using zero-installs
# !.yarn/cache

# PnP files (used if PnP is enabled)
.pnp.*
.pnp

# Node modules (still used in nodeLinker: node-modules mode)
node_modules/

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor folders
.idea/
.vscode/
*.sw?

# Output folders
dist/
build/
out/
.expo/
.expo-shared/

# Test coverage
coverage/
.nyc_output/

# TypeScript / Babel / Next / Expo
*.tsbuildinfo
.next/
expo-debug.*
*.expo/

# Metro bundler cache
.metro-cache/
haul-debug.log

# React Native
android/.gradle
android/app/build
ios/Pods/
ios/build/
*.xcworkspace
*.xcodeproj
*.xcuserstate

# Environment files (if used)
.env*
.env.*.local

# Misc
*.tgz
